__pycache__/
*.pyc
.tmp/
.venv/
env/
venv/

models/*
!models/baseline_classifier/
!models/baseline_classifier/final/
!models/baseline_classifier/final/**
!models/claim_extractor/
!models/claim_extractor/final/
!models/claim_extractor/final/**
!models/claim_verifier/
!models/claim_verifier/final/
!models/claim_verifier/final/**
models/**/checkpoint-*/
models/**/logs/

.DS_Store
Thumbs.db

.idea/
.vscode/

.env

scripts/
uv.lock
